[build.environment]
  NODE_VERSION = "20.19.0"
  NPM_VERSION = "10.0.0"

[build]
  command = "npm install && npm run build"
  publish = "dist"
  functions = "netlify/functions"

[dev]
  framework = "#custom"
  command = "npm run dev"
  targetPort = 3001
  port = 3001

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
